[user]
  name = Alexandre Croteau-Pothier
  email = alexcp.com@gmail.com
[color]
  ui = true
[alias]
  ci = commit
  co = checkout
  di = diff
  aa = add --all
  br = branch
  st = status
  dc = diff --cached
  amend = commit --amend
  l = log --graph --abbrev-commit --date=relative
  r = !git l -20
  ra = !git r --all
  unstage = reset HEAD
  ld = l --patch
[core]
  editor = vim
	excludesfile = .gitignore_global
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[merge]
  tool = vimdiff
